<!-- admin home page -->
<div class="col-sm-12">
    <ul class="topnav backGndClr">
        <li><a class="active" href="#home">Welcome {{this.model.name}}!!</a></li>
        <li class="right"><a (click)="logout()">LogOut</a></li>
    </ul>
    <div class="btn-group col-sm-12">
        <button type="button" class="btn btn-primary btnWidth" (click)="OnClick('create')">Create User</button>
        <button type="button" class="btn btn-primary btnWidth" (click)="OnClick('update')">Update User</button>
        <button type="button" class="btn btn-primary btnWidth" (click)="OnClick('delete')">Delete User</button>
        <button type="button" class="btn btn-primary btnWidth" (click)="OnClick('report')">Report</button>
    </div>
    <router-outlet></router-outlet>
</div>