<!-- create user -->
<div class="col-sm-12" id="">
    <div class="col-sm-6">
    <div id="login" class="panel panel-primary panelAllign">
        <div class="panel-heading">
        <h3 class="allignCenter" *ngIf="!edit">CREATE USER</h3>
        <h3 class="allignCenter" *ngIf="edit">EDIT USER</h3>
        </div>
        <div class="panel-body">
        <div class="alert alert-success" *ngIf="response == 'success'">
            <strong>Successfully inserted!!</strong>
        </div>
        <div class="alert alert-success" *ngIf="response == 'update'">
                <strong>Successfully updated!!</strong>
            </div>
        <div class="alert alert-danger" *ngIf="response == 'failure'">
            <strong>Error!! Please try again</strong>
        </div>

        <!--<form  id="loginForm">-->
        <form id="loginForm" class="form">
            <div class="form-group">
                <label for="userName">Username</label>
                <input type="text" class="form-control txtbox" id="name" [(ngModel)]="model.name" name="userName" required>
            </div>

            <div class="form-group">
                <label for="userId">UserID</label>
                <input type="number" [disabled]="edit==true ? true : null" class="form-control txtbox" id="user_id" [(ngModel)]="model.user_id" name="userId" required>
            </div>
            <div class="form-group">
                <label for="email">Email-Id</label>
                <input type="email" class="form-control txtbox" id="email_id" [(ngModel)]="model.email_id" name="email" required>
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" class="form-control txtbox" id="age" [(ngModel)]="model.age" name="age" required>
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <div>
                    <input type="radio" class="styled" [checked]='true' name="gender" [(ngModel)]="model.gender" (change)="model.gender = 'Male'"
                        id="consentyes" value="Male"><label for="male">Male</label>
                    <input type="radio" class="styled" name="gender" [(ngModel)]="model.gender" (change)="model.gender = 'Female'" id="consentyes"
                        value="Female"><label for="female">Female</label>
                </div>

            </div>
            <div class="form-group">
                <label for="dob">Date of Birth</label>
                <input type="date" class="form-control txtbox" id="dob" [(ngModel)]="model.dob" name="dob" required>
            </div>
            <button type="submit" *ngIf="!edit" class="btn btn-primary center-block btn-login ladda-button" data-style="expand-right" id="loginSubmit" (click)="onSubmit()"><span class="ladda-label">Create</span></button>
            <button type="submit" *ngIf="edit" class="btn btn-primary center-block btn-login ladda-button" data-style="expand-right" id="loginSubmit" (click)="onEdit()"><span class="ladda-label">Save</span></button>
        </form>
        <!-- <h5 style="color:red;padding-top: 20px;padding-left: 20px;" >{{error_message}}</h5> -->
    </div>
    </div>
    </div>
</div>
<!-- create user -->