#login{
    position: absolute;
    top: 25%;
    left: 25%;
}
.allignCenter{
    text-align: center;
}
#loginSubmit{
    margin-bottom: 5%;
}
#outerDiv{
    height: 100vh;
    background: url('/assets/images/login.jpg')
}    
.styled{
    margin-left: 5%;
    margin-right: 2%;
}
.styled:hover{
    cursor: pointer;
}
.outerPanel{
    background-color: cadetblue;
}
@media screen and (min-width:1000px) {
    .panelAllign{
        width: 84%;
        margin: 5% 3% 5% 36%;
    }

}
.paddAllign{
    padding: 1%
}
.viewProfile{
    margin-top: 7%;
    margin-bottom: 7%;
}
.editProfile{
    margin-top: 3%;
    margin-bottom: 2%;
}
.backgroundImg{
    background-color: cadetblue;
}
#viewOthers{
    margin-top: 3%;
}


