<div class="userOptions backgroundImg">
    <!--this code for enable joint link-->
    <div class="allignBtn">
      <button type="button" class="btn btn-lg btn-danger btnPadd"><a class="linkAllign" (click)="Options('viewProfile')" ><img class="imageSize" src="/assets/images/User_font_awesome.svg.png">View profile</a></button>
      <button type="button" class="btn btn-lg btn-danger btnPadd"><a class="linkAllign" (click)="Options('editProfile')"><img class="imageSize" src="/assets/images/Users-Edit-User-icon.png">Edit profile</a></button>
      <button type="button" class="btn btn-lg btn-danger btnPadd"><a class="linkAllign" (click)="Options('otherUsers')"><img class="imageSize" src="/assets/images/25437.png">View users</a></button>
    </div>
  </div>