<!-- other users -->
<div class="col-sm-12" id="viewOthers">
    <div class="col-sm-12">
        <div id="" class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="allignCenter">Users</h3>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Srl no.</th>
                        <th scope="col">UserName</th>
                        <th scope="col">UserId</th>
                        <th scope="col">Email</th>
                        <th scope="col">Age</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Date of Birth</th>
                      </tr>
                    </thead>
                    <tbody >
                      <tr  *ngFor="let user of userArray; let i = index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{user.name}}</td>
                        <td>{{user.user_id}}</td>
                        <td>{{user.email_id}}</td>
                        <td>{{user.age}}</td>
                        <td>{{user.gender}}</td>
                        <td>{{user.dob}}</td>
                      </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
<!-- other users -->