<!-- user login -->
<div class="col-sm-12">
  <ul class="topnav">
    <li><a class="active">Welcome {{this.model.name}}!!</a></li>
    <li class="right"><a (click)="logout()">LogOut</a></li>
    <li class="right"><a (click)="Options()">Home</a></li>
  </ul>
 <router-outlet></router-outlet>
</div>