#userLogin{
    width: 100%;
    display:  inline-flex;
}
.allignBtn{
    padding: 18%;
}
.btnPadd{
    padding: 7%;
}     
@media (min-width: 300px) and (max-width:1000px) {
    .btnPadd{
        width:100%;
        margin: 2%;
    } 
}
/* .allignBtn{
    height: 100vh;
    background: url('/assets/images/FreeVector-Abstract-Blue-Vector-1.jpg')
}   */

/* navbar */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav1 li a.active {
    background-color: white;
    color: black;
}

ul.topnav li.right {float: right;cursor: pointer}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
/* navbar */
/* .backGndClr{
    background-color: indigo !important;
} */
.userOptions{
    /* background-color: lightgray; */
    height: 100vh;
}
.imageSize{
    width: 25px;
    height: 28px;
    margin-right: 10%;
}
.linkAllign{
    color:black;
}
.backgroundImg{
    height: 100vh;
    background: url('/assets/images/login.jpg');
}
.btnWidth{
    width: 25%;
}



