<!-- create user -->
<div class="col-sm-12 backgroundImg" id="">
    <div id="viewProfile" [ngClass]="{'viewProfile':(viewProfile ),'editProfile':(!viewProfile )}" class="panel panel-info">
        <div class="panel-heading">
            <h3 class="allignCenter" *ngIf="viewProfile">View profile</h3>
            <h3 class="allignCenter" *ngIf="!viewProfile">Edit profile</h3>
        </div>
        <div class="panel-body">
                <div class="alert alert-success" *ngIf="response == 'success'">
                        <strong>Successfully updated!!</strong>
                    </div>
                    <div class="alert alert-danger" *ngIf="response == 'failure'">
                        <strong>Error!! Please try again</strong>
                    </div>
            <!--<form  id="loginForm">-->
            <form id="viewForm" class="form" (ngSubmit)="onEdit()">
                <div class="form-group">
                    <div class="col-sm-12 paddAllign">
                        <label class="col-sm-2" for="userName">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control txtbox" id="name" [disabled]="viewProfile" [(ngModel)]="model.name" name="name" required></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12 paddAllign">
                        <label class="col-sm-2" for="userId">UserID</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control txtbox" id="user_id" [disabled]="true" [(ngModel)]="model.user_id" name="user_id" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 paddAllign">
                        <label class="col-sm-2" for="email">Email-Id</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control txtbox" id="email_id" [disabled]="viewProfile" [(ngModel)]="model.email_id" name="email_id" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 paddAllign">
                        <label class="col-sm-2" for="age">Age</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control txtbox" id="age" [disabled]="viewProfile" [(ngModel)]="model.age" name="age" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 paddAllign">
                        <label class="col-sm-2" for="gender">Gender</label>
                        <div class="col-sm-10">
                            <input type="radio" class="styled" [checked]='true' name="gender" [disabled]="viewProfile" [(ngModel)]="model.gender" (change)="model.gender = 'Male'"
                                id="consentyes" value="Male"><label for="male">Male</label>
                            <input type="radio" class="styled" name="gender" [disabled]="viewProfile" [(ngModel)]="model.gender" (change)="model.gender = 'Female'" id="consentyes"
                                value="Female"><label for="female">Female</label>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-12 paddAllign">
                        <label class="col-sm-2" for="dob">Date of Birth</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control txtbox" id="dob" [disabled]="viewProfile" [(ngModel)]="model.dob" name="dob" required>
                        </div>
                    </div>
                </div>
                <div *ngIf="!viewProfile">
                <button type="submit" class="btn btn-primary center-block btn-login ladda-button" data-style="expand-right" id="loginSubmit"><span class="ladda-label">Modify</span></button>
                </div> 
            </form>
        </div>
        <!-- <h5 style="color:red;padding-top: 20px;padding-left: 20px;" >{{error_message}}</h5> -->
    </div>
</div>
<!-- create user -->